*, *::before, *::after {
    font-family: Arial, Helvetica, sans-serif;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
    align-items: flex-start;
}

.card {
    background: white;
    border: 1px solid #777;
    border-radius: 5px;
    --padding: 1rem;
    overflow: hidden;
    box-shadow: 0px 1px 3px;
}

.card-image > img {
    overflow: hidden;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 200px;
    object-position: center;
    transition: 200ms transform ease-in-out;
}
.card:hover .card-image > img {
    transform: scale(1.025);
}

.card-title {
    text-align: center;
    font-size: 1.25rem;
}

.card-body {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: var(--padding);
}

.card-footer {
    display: flex;
    justify-content: center;
    padding: var(--padding);
    padding-top: 0;
}

.button {
    font-size: 1rem;
    padding: .9rem 5rem;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover, .button:focus {
    background-color: rgb(185, 184, 184);
}